- var socialList = [{item: '#instagram'}, {item: '#fb'}, {item: '#vk'}]
    ul.social-list
      each item in socialList
        li.social-list__item
          a.social-list__item-link(href="#")
            svg.social-list__item-link-img
              use(xlink:href=item.item)