- var socialList = [{item: '#instagram'}, {item: '#fb'}, {item: '#vk'}]
    +e.UL.social-list.social-list__
      each item in socialList
        +e.LI.item
          +e.A.item-link(href="#")
            +e.SVG.item-link-img
              use(xlink:href=item.item)