+e.FORM.mailing.mailing__(name="mailing-form" method="POST" action="https://jsonplaceholder.typicode.com/posts")
  +e.LABEL.label
    +e.SPAN.label-desc Подписаться на рассылку
    +e.DIV.email-block
      +e.INPUT.input(type="email" name="mailing" placeholder="E-mail" required data-validate-field="email")
  +e.BUTTON.button.btn-link(type="submit") Отправить