.mailing {
  display: flex;
  align-items: end;
  position: relative;
  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: start;
  }

  &__label {
    flex-grow: 1;
    margin-right: 30px;
    outline: none;
    @media (max-width: 1024px) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 1.25em;
    }
  }
  
  &__label-desc {
    display: inline-block;
    margin-bottom: 0.666em;
    font-size: 1.5rem;
    line-height: 0.916em;
    cursor: pointer;
    @media (max-width: 600px) {
      font-size: 1.125rem;
    }
  }

  &__input {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 0 1.4375em;
    min-height: 3.125em;
    background-color: $gray4;
    font-family: 'Roboto';
    font-size: 1rem;
    line-height: 1.188em;
    color: $lightColor;
    border: 1px solid transparent;
    outline: none;
    transition: border-color .6s ease-in-out;
    @media (max-width: 600px) {
      min-height: 2.857em;
      font-size: 0.875rem;
      line-height: 1.143em;
    }
    &:hover::placeholder {
      color: $colorStateBright;
    }
    &:focus {
      border-color: $colorStateBright;
    }
    &::placeholder {
        color: $gray;
        transition: color .6s ease-in-out;
    }
  }

  .js-validate-error-label {
    position: absolute;
    bottom: 35px;
    left: 25px;
    font-size: 0.562rem;
    line-height: 1.222em;
    color: #F06666;
    @media (max-width: 1024px) {
      bottom: 105px;
    }
    @media (max-width: 600px) {
      bottom: 91px;
    }
  }

  &__button {
    min-height: 3.125em;
    padding: 0 1.406em;
    font-size: 1rem;
    line-height: 1.875em;
    cursor: pointer;
    @media (max-width: 600px) {
      font-size: 0.875rem;
      line-height: 1.143em;
    }
  }
}