+b.SECTION.projects
  +e.container.container
    +e.H2.title.section-title Наши проекты
    +e.grid
      include ../card-ps/card-ps.pug
      - var cardPs1 = {picture: '', mark: 'пейзаж', text: '', date: ''}
      +cardPs(cardPs1)
      