.burger {
  display: block;
  width: 20px;
  height: 18px;
  position: relative;
  @include btnTransparent;

  @media (max-width: 600px) {
    display: block;
    @include burgerNav();
  }

  &__top {
    @include burgerPart();
    width: 100%;
    top: 0;
  }

  &__middle {
    @include burgerPart();
    width: 100%;
    top: calc(50% - (2 / 18 * 100%)/2);
  }

  &__bottom {
    @include burgerPart();
    width: 50%;
    bottom: 0;
  }
}