.card-mc {
  display: flex;
  position: relative;
  z-index: 0;
  flex-direction: column;
  justify-content: end;
  padding: 60px;
  align-items: flex-start;
  @media (max-width: 1024px) {
    padding: 30px;
  }
}

.card-mc__mark {
  top: 17px;
  right: 17px;
}

.card-mc__picture {
  .picture__img {
    z-index: -1;
    }
}

.card-mc__author {
  margin-bottom: 3px;
  font-family: 'Roboto';
  line-height: 1.187em;
  color: $lightColor;
  @media (max-width: 600px) {
    font-size: 0.875rem;
  }
}

.card-mc__title,
.card-mc__date {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.028em;
  color: $lightColor;
  @media (max-width: 1024px) {
    font-size: 2.125rem;
  }
  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
  @media (max-width: 600px) {
  }
}

.card-mc__date {
  margin-bottom: 0.555em;
}