mixin cardMc(cardMcData, link, img)
  +e.ARTICLE.card-mc.card-mc__
    include ../mark/mark.pug
    +mark(cardMcData.mark)
    +e.P.author= cardMcData.author
    +e.H3.title= cardMcData.title
    +e.P.date= cardMcData.date
    include ../btn-link/btn-link.pug
    +btnLink(link)
    include ../picture-mixin/picture-mixin.pug
    +picture(img)