- var nav = [{item: 'О студии'}, {item: 'Наши проекты'}, {item: 'Услуги'}, {item: 'Мастер-классы'}, {item: 'Контакты'}]
  ul.nav-list
    each i in nav
      li.nav-list__item
        a.nav-list__item-link(href="")= i.item
    include tel/tel.pug