.header__burger {
  display: none;

  @media (max-width: 600px) {
    display: block;
  }

  .btn-close {
    display: none;
    position: relative;
    z-index: 1;

    svg {
      fill: $gray3;
    }
  }
}