.about {
  background-color: $darkBack;
  
  &__container {
    padding-top: 30px;
    padding-bottom: 70px;
    color: $lightColor;
  }
  
  &__title {
    margin-bottom: 0.208em;
  }
  
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  &__description {
    font-family: 'Roboto';
    font-size: 1rem;
    line-height: 1.75em;
    color: $gray;
  }

  &__right {
    display: flex;
    flex-direction: column;

    &::before {
      flex-grow: 1;
      content: '';
      height: 100%;
      margin-bottom: 25px;
      background-image: url(../images/about_desktop.jpg);
      background-repeat: no-repeat;
      background-position: center center ;
      background-size: cover;
      @media (max-width: 1024px) {
        margin-bottom: 24px;
        background-image: url(../images/about_1024.jpg);
      }
      @media (max-width: 768px) {
        margin-bottom: 24px;
        background-image: url(../images/about_768.jpg);
      }
      @media (max-width: 600px) {
        height: auto;
        padding-bottom: 100%;
        margin-bottom: 26px;
        background-image: url(../images/about_320.jpg);
      }
    }
  }
}