+b.SECTION.first
  +e.container.container
    include ../card-mc/card-mc.pug
    - var cardMcData = {mark: 'мастеркласс', author: 'Мастер-класс от Игоря Робова', title: 'Неоновый фотосет\u00A02.0', date: '7 июля 20:00'}
    - var link = {href: '#', text: 'Узнать больше'}
    - var img = {defaultImg: 'images/card_mc_desktop.jpg', desktop: 'images/card_mc_desktop.webp', size1024: 'images/card_mc_1024.webp', size768: 'images/card_mc_768.webp', size320: 'images/card_mc_320.webp', description: 'картинка'}
      +cardMc(cardMcData, link, img)
    +e.ARTICLE.previous.previous__
      +e.H3.text Работы участников предыдущего мастер-класса
      - var img = {defaultImg: 'images/first_img_desktop.jpg', desktop: 'images/first_img_desktop.webp', size1024: 'images/first_img_1024.webp', size768: 'images/first_img_768.webp', size320: 'images/first_img_320.webp', description: 'previous1'}
        +picture(img)
    - var img2 = {defaultImg: 'images/first_img2_desktop.jpg', desktop: 'images/first_img2_desktop.webp', size1024: 'images/first_img2_1024.webp', size768: 'images/first_img2_768.webp', size320: 'images/first_img2_320.webp', description: 'previous1'}
      +picture(img2)
    - var img3 = {defaultImg: 'images/first_img3_desktop.jpg', desktop: 'images/first_img3_desktop.webp', size1024: 'images/first_img3_1024.webp', size768: 'images/first_img3_768.webp', size320: 'images/first_img3_320.webp', description: 'previous1'}
      +picture(img3)