+e.ARTICLE.contacts-window.contacts-window__
  +e.H3.title Студия “High pass”
  +e.ADDRESS.address 107045, Москва, Даев переулок, дом 41, бизнес-центр «Даев Плаза», этаж 8, офис № 82
  +e.SPAN.tel.tel__
    include ../tel/tel.pug
  include ../btn-close/btn-close.pug

