.header {
  background-color: $darkBack;
  font-family: 'TTFirsNeue';

  @media (max-width: 990px) {
    position: relative;
    z-index: 1;

    &::before {
      content: '';
      top: +80px;
      right: 0;
      bottom: 0;
      left: 0;
      position: absolute;
      background-color: #4a4a4a;

      @media (max-width: 600px) {
        top: +70px;
      }
    }
  }
  
  &__container {
    display: grid;
    grid-template-columns: minmax(auto, 280px) 1fr minmax(auto, 280px);
    grid-template-rows: minmax(80px, auto);
    align-items: center;
    
    @media (max-width: 990px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 80px minmax(45px, auto);
      align-items: center;
    }

    @media (max-width: 600px) {
      grid-template-rows: 70px minmax(45px, auto);
    }    
  }
  
  .social-list {
    max-width: 130px;
    justify-self: end;

    @media (max-width: 1024px) {
      display: none;
    }
  }
  
  &.search-open {

    .header__search {
      
      .btn-search {
        display: none;
      }
      
      .form-search {
        display: flex;
      }
    }
  }

  &.burger-open {
    @media (max-width: 600px) {

      .nav-list {
      @include openVertical-modificator();
        
        &__item {
          @include openVertical-modificator();
        }

        &__tel {
          @include openVertical-modificator();
        }
      }

      .header__burger {
        
        .burger {
          display: none;
        }
        
        .btn-close {
          display: block;
        }
      }
    }
  }
}
