header.header
  .container.header__container
    a.logo(href="#") 
      svg.logo-link
        use(xlink:href="#logo")
    include header-nav/header-nav.pug
    include social-list/social-list.pug
    include search/search.pug
    include burger/burger.pug