+b.header.header
  +e.container.container
    include ../header__logo/header__logo.pug
    include ../header__nav/header__nav.pug
    include ../social-list/social-list.pug
    include ../header__search/header__search.pug
    include ../header__burger/header__burger.pug