.btn-link2 {
  padding: 0.96875em 1.375em;
  font-size: 1rem;
  line-height: 1.1875em;
  font-family: 'Roboto';
  font-weight: 700;
  text-align: center;
  border: 3px solid $colorStateBright;
  color: $lightColor;
  outline: none;
  transition-property: background-color, border-color;
  transition-duration: .6s;
  transition-timing-function: ease-in-out;
  @media (max-width: 600px) {
    font-size: 0.875rem;
  }

  &:hover {
    background-color: $colorStateBright;
  }

  &:focus:not(:hover) {
    background-color: $colorStateMedium;
  }

  &:active {
    background-color: $colorStateDark;
    border-color: $colorStateDark;
  }
}