- var nav = [{item: 'О студии'}, {item: 'Наши проекты'}, {item: 'Услуги'}, {item: 'Мастер-классы'}, {item: 'Контакты'}]
  +b.UL.nav-list
    each i in nav
      +e.LI.item
        +e.A.item-link(href="")= i.item
    include ../tel/tel.pug