.nav-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;

  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    min-height: 540px;
    padding-top: 37px;
    padding-bottom: 37px;
    @include containerPaddings();
    border-top: 1px solid #4a4a4a;
    background-color: $darkBack;
    @include openVertical-block($opacity: 0);
    opacity: 0;

    &__item {
      @include openVertical-block($opacity: 0);
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 600px) {
      min-height: 42.5px;
    }

    &-link {
      display: inline-block;
      position: relative;
      padding: 0.2em;
      font-size: 1rem;
      line-height: 1.4em;
      white-space: nowrap;
      color: $lightColor;
      outline: none;
      transition-property: color, background-color;
      transition-duration:  .6s;
      transition-timing-function:  ease-in-out;
      @media (max-width: 600px) {
        padding: 0;
      }

      &:hover {
        color: $colorStateBright;
      }
      &:active {
        color: $colorStateDark;
      }
      &:focus:not(:hover) {
        color: $lightColor;
        background-color: $colorStateMedium;
      }
    }
  }
  
  &__tel {
    display: none;
    flex-grow: 1;
    flex-direction: column;
    justify-content: end;
    @include openVertical-block($opacity: 1);
    
    @media (max-width: 600px) {
      display: flex;
    }
  }
}