div.search
  button#search-btn
    svg
      use(xlink:href="#search")
  form#search-form(action="https://jsonplaceholder.typicode.com/posts" method="POST")
    input(type="text" name="search" placeholder="Что будем иcкать?")
    button#search-btn-close(type="button")
      svg
        use(xlink:href="#close")
