@import '../src/scss/_variables.scss';
@import '../src/scss/_mixins.scss';

.search {
  display: none;
  @media (max-width: 1024px) {
    display: inline-block;
  }
  justify-self: right;

  @media (max-width: 600px) {
  }

  #search-btn {
    @include btnTransparent;
    @include svgStates;

    svg {
      width: 25px;
      height: 25px;

      @media (max-width: 600px) {
        width: 20px;
        height: 20px;
      }
    }
  }

  #search-form {
    display: none;
    width: 343px;
    position: absolute;
    top: calc(80px/2 - 30px/2);
    right: 0;

    @media (max-width: 600px) {
      width: 100%;
    }
  
    @include containerPaddings();
    
    input {
      min-height: 30px;
      width: 100%;
      font-size: 1rem;
      line-height: 1.4em;
      color: $gray2;
      border-bottom: 1px solid $gray2;
      background-color: $darkBack;
      outline: none;
      transition: border-color .6s ease-in-out;
      
      &:hover,
      &:focus {
        border-color: $colorStateBright;
      }

      &:active {
        border-color: $colorStateDark;
      }

      ::placeholder {
        color: $lightColor;
        background-color: $darkBack;
      }
    }

    #search-btn-close {
      position: relative;
      @include btnTransparent;
      @include svgStates;
  
      svg {
        width: 23px;
        height: 23px;
      }
    }
  }
}
