$telTransition: .6s ease-in-out;

.tel {

  &__link {
    display: flex;
    position: relative;
    align-items: center;
    color: $colorStateBright;
    outline: none;
    transition: color $telTransition;

    &::before {
      position: absolute;
      content: '';
      z-index: -1;
      top: -5px;
      right: -5px;
      bottom: -5px;
      left: -5px;
      transition: background-color $telTransition;
    }    

    &:focus {
      color: $lightColor;

      &::before {
        background-color: $colorStateMedium;
      }

      .tel__img {
        fill: $lightColor;
      }
    }
    
    .tel__img {
      display: inline-block;
      width: 15px;
      height: 15px;
      fill: $colorStateBright;
      transition: fill $telTransition;
    }
    
    .tel__text {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.29em;
    }
  }
}