.mark {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.428em 1em;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.143em;
  text-align: center;
  color: $lightColor;
  background-color: $darkBack2;
  @media (max-width: 600px) {
    font-size: 12px;
  }
}