+b.FOOTER.footer
  +e.container.container
    +e.logo
      include ../logo/logo.pug
      +e.SPAN.logo-text Фотостудия High pass® 2018-2020
    +e.description
      +e.SPAN.description-text Которая из моих фотографий самая любимая?
      +e.SPAN.description-text Та, которую я собираюсь снять завтра.
      +e.SPAN.description-author © Имоджен Каннингем
    +e.social
      +e.social-block
        +e.SPAN.social-text Больше интересного:
        include ../social-list/social-list.pug