footer.footer
  .container.footer__container
    .footer__logo
      include ../logo/logo.pug
      span.footer__logo-text Фотостудия High pass® 2018-2020
    .footer__description
      span.footer__description-text Которая из моих фотографий самая любимая?
      span.footer__description-text Та, которую я собираюсь снять завтра.
      span.footer__description-author © Имоджен Каннингем
    .footer__social
      .footer__social-block
        span.footer__social-text Больше интересного:
        include ../social-list/social-list.pug