doctype html
include bemto/bemto.pug
html(lang="ru")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title High Pass
    link(rel="shortcut icon", href="images/favicon.ico")
    link(rel="stylesheet", href="css/style.css")
    link(rel="preload" href="fonts/TTFirsNeue-Regular.woff2" as="fonts")
    link(rel="preload" href="fonts/Roboto-Regular.woff2" as="fonts")
    script(defer src="resources/just-validate.min.js")
    script(defer src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU")
    script(defer src="app.js")
  body
    h1.visually-hidden фотостудия High pass
    div.sprite
      include ../dev/images/sprite.svg
    include components/header/header.pug
    main
      include components/first/first.pug
      include components/about/about.pug
      include components/projects/projects.pug
      include components/contacts/contacts.pug
    include components/footer/footer.pug
    