@mixin fonts ($fontFamily, $fontName, $fontWeight, $fontStyle: normal) {
  @font-face {
    font-family: $fontFamily;
    src: url('../fonts/' + $fontName + '.woff2') format('woff2'),
        url('../fonts/' + $fontName + '.woff') format('woff');
    font-weight: $fontWeight;
    font-style:  $fontStyle;
    font-display: swap;
  }
}

@mixin containerPaddings {
  padding-right: 55px;
  padding-left: 55px;

  @media (max-width: 1024px) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (max-width: 768px) {
    padding-right: 27px;
    padding-left: 27px;
  }

  @media (max-width: 320px) {
    padding-right: 21px;
    padding-left: 21px;
  }
}

@mixin btnTransparent {
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
}

@mixin svgStates {
  font-size: 0;
  outline: none;

  &:hover {
    svg {
      fill: $colorStateBright;
    }
  }
  &:focus:not(:hover) {
    svg {
      fill: $colorStateMedium;
    }
  }
  &:active {
    svg {
      fill: $colorStateDark;
    }
  }
  
    svg {
      fill: $gray;
      transition: fill .6s ease-in-out;
    }
}

@mixin burgerNav {
  order: 1;
    grid-column: 1 / 3;
    grid-auto-rows: 45px;
}

@mixin burgerPart {
  position: absolute;
  height: calc(2 / 18 * 100%);
  left: 0;
  background-color: #fff;
}

@mixin openVertical-block($opacity: 0, $duration: .6s) {
  transform-origin: 0 0;
  transform: scaleY(0);
  opacity: $opacity;
  transition-property: transform, opacity;
  transition-duration: $duration;
  transition-timing-function: ease-in-out;
}

@mixin openVertical-modificator() {
  opacity: 1;
  transform: scaleY(100%);
}