@include fonts ('Roboto', Roboto-Regular, 400);
@include fonts ('Roboto', Roboto-Bold, 700);
@include fonts ('TTFirsNeue',TTFirsNeue-Regular, 400);
@include fonts ('TTFirsNeue', TTFirsNeue-Medium, 500);
@include fonts ('TTFirsNeue', TTFirsNeue-Bold, 700);

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'TTFirsNeue', 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;

  @include containerPaddings();
  
}

.sprite {
  display: none;
}