+b.SECTION.contacts
  +e.container.container
    +e.H2.title.section-title Контакты
    +e.grid
      +e.map
        include ../map/map.pug
        include ../contacts-window/contacts-window.pug
      include ../request/request.pug
